{% extends}

    <!-- ###################  TOP BAR  ################### -->    
    <div class="jumbotron">
        <h1 class="site-title">
            <a id="logo" href="https://preferred.ai/" target="_blank">
                PREFERRED.AI
            </a>
        </h1>
        <div id="web-title" class="text-center">
            <h1>Cornac User Interface</h1>
            <span>Train your own models with your dataset input!</span> 
        </div>

    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand text-success" href="https://cornac.preferred.ai/" target="_blank"><strong>Cornac</strong></a>
        <ul class="nav navbar-nav collapse navbar-collapse">
            <li class="nav-item">
                <a class="nav-link p-3" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a href="train/pmf">
                    <button class="btn btn-md btn-success">Get Started</button>
                </a>
            </li>
        </ul>
        
        {% if current_user.username %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><strong>{{current_user.username}}</strong></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"><strong>Logout</strong></a>
            </li>
        </ul>
        {% endif %}
    </nav>
    <!-- ###################|  TOP BAR  |################### -->
