<div class="container">

    <h4>Check User Recommendations</h4>

        <form id="reco_form" action="">
            <div class="form-group">
                <label for="user">User ID</label>
                <input type="text" class="form-control" name="user" placeholder="Enter a user ID to check">
            </div>
        </form>
        <button id="user_check_btn" type="button" class="btn btn-primary btn-lg">Check User</button>
    
    <div class="container">
        <p id="ranking"></p>
        <p id="scores"></p>
    </div>

</div>

